bin/
*.o
*.hi
*.aux
*.prof
*.pdf
*.ps
*.hp
*-profile
.hpc/
*.tix
*-coverage
Gemfile.lock
tmp/
dist
cabal-dev
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
node_modules/
npm-debug.log
